/* coloring table11 */

.table11{
    border: 2px solid red;

    tr,th,td{
        border: 1px solid rgb(76, 24, 182);
        text-align: center;
        

    }
}

.table12{
    border: 5px solid yellow;
    border-collapse: collapse;

    tr,th,td{
        border: 1px solid red;
        background-color: aqua;
    }
}